
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Encryption/decryption</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-image: url(http://getwallpapers.com/wallpaper/full/6/4/e/145202.jpg);">

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(16, 148, 66);">
        <a class="navbar-brand" href="#" style="color: white;">Encryption/Decryption</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:8000/" style="color: white;" >Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/caeser/" style="color: white;" >Caeser</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/playfair/" style="color: white;">Playfair</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/des/" style="color: white;">DES</a>
            </li>
          </ul>
        </div>
      </nav>

<div class="container-fluid" > 
    <div class="mx-auto mt-5" style="width: 450px; color: greenyellow;font-size:xx-large;">
        <h1>
            Encryption/Decryption
        </h1>
             
        <h2 class="mx-auto mt-3" style="width: 300px; color:tomato;">
            Playfair cipher
        </h2>
    </div>
    <div style="font-style: normal; margin-left: 8cm; margin-top: 2cm; color: rgb(192, 181, 174);">
        <h2>
            <bold>
                ENTER YOUR PLAIN MESSEGE BELOW:---
            </bold>
        </h2>
            
    </div>
    <form action="/playfair" method="GET">
        <div style="display: flex;">
            <textarea name="text" style="margin: 0px; width: 257px; height: 127px; margin-left: 15cm; font-size: large; background-color: rgb(180, 180, 180);border: thick double #1A237E;"></textarea> 
            <div style="font-style: normal; margin-left: 1.5cm; margin-top: 1cm;">
                <h2>
                    <bold>
                        KEY ==
                    </bold>
                </h2>
                    
            </div>
            <input type="text" id="KEY" name="KEY" style="margin-left: 0.5cm; margin-top: 1.3cm; width: 208px; height: 30px; font-size: large; background-color: rgb(180, 180, 180); border: thick double rgb(26, 35, 126);">
            <!--<textarea name="KEY" style="margin-left: 0.5cm; margin-top: 1.3cm; width: 208px; height: 30px; font-size: large; background-color: rgb(180, 180, 180); border: thick double rgb(26, 35, 126);"></textarea> -->
        </div>
        <div style="display: flex; margin-left: 18cm; margin-top: 1cm; color: white; font-size: larger;">
            <input type="checkbox" name='encrypt' style="margin-left: 1cm;">Encrypt
            <input type="checkbox" name='decrypt' style="margin-left: 5cm; ">Decrypt
        </div>
        <br>
        <button type="submit" style="width: 3cm; height: 1cm; background-color: black; color: aliceblue; border-radius: 30px; margin-left: 22cm;">SUBMIT</button>
        <div class="d-flex justify-content-center mt-3">
            <h3 style="color: greenyellow;">
            <p>{{ciphertext}}  </p>
            </h3>
        </div> 
    </form>
    
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
